/* *{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
} */
body {
    font-family: Arial, sans-serif;
    background-color: #D0D6B3; /* Light Olive Green */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #EFEFEF; /* Light Gray */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #143109; /* Dark Green */
}

.hero-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #143109; /* Dark Green */
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #143109; /* Dark Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d2407; /* Darker Green */
}

p {
    margin-top: 15px;
}

a {
    color: #143109;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
